<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <head>
  <div class="col-sx-3">
  LOGO
  </head>
  </div>
  <div class="col-sx-4">
  Splurting out unsolicited advise about entrepreneurship since 2016
  </div>
  <div class="col-xs-5">
    <%= link_to 'Contribute', '#' %>
    <%= link_to 'About', '#' %>
  </div>

  <br class="clear">
  
<%= yield %>

</body>
</html>
