<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <head>
  <div class="col-sx-3">
    <div class="circle">
    <br />
    You know
    <br />
    you need
    <br />
    to code
    </div>
  </div>
  </head>
  
  <div class="col-sx-4 slogan">
  Splurting out unsolicited advise about entrepreneurship since 2016
  </div>
  <div class="col-xs-5 links">
    <%= link_to 'Contribute', '#' %>
    <%= link_to 'About', '#' %>
  </div>
  <hr />
  <br class="clear">
<div class="container">
  <%= yield %>
</div>

<div class="footer">
  <div class="container">
    <div class="col-xs-6 footer-blurb">
        <%= link_to "This isn't enough! I need more!", "#", class: 'next-quote' %>
      <div class="col-xs-6">
        Check Out <a href="http://thefirehoseproject.com">FireHoes</a><br />
        Want to build your own Splurty Web App - <a href="http://thefirehoseproject.com">Learn how to code here</a>
      </div>
  </div>
</div>
</body>
</html>
